.root {
  display: grid;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #dddddd;
  background: #ffffff;
  padding: 0.75rem 1.5rem;
}

.container {
  padding: 3rem 1.5rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.preview {
  border-radius: 12px;
  object-fit: cover;
  overflow: hidden;
}

.gallery {
  display: grid;
  grid-gap: 1.5rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .preview {
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease opacity;
    &:hover {
      opacity: 0.75;
    }
  }
}
